<%- include("partials/header.ejs") %>
<h1>Home</h1>
<p><%= homeStartingContent %></p>

<% posts.forEach(function(post) { %>

  <h2><%= post.title %></h2>
  <% var length = 100; %>
  <% var myString = post.body; %>
  <% var myTruncatedString = myString.substring(0, length); %>
  <p><%= myTruncatedString %>...<a href="/posts/<%= post.title %>">Read More</a></p>


<% }); %>

<%- include("partials/footer.ejs") %>
